.navbar {
  border-radius: 0;
}

.about-page h2:first-of-type {
  margin-top:10px;
}

@media (max-width: 765px) {
  .row .affix {
    position: static;
  }

  .nav-stacked.affix {
    margin-top:0px;
  }
}

*[id]:before {
  display: block;
  content: " ";
  margin-top: -65px;
  height: 65px;
  visibility: hidden;
}