.navbar {
  border-radius: 0;
}

.nav-stacked.affix {
  margin-top:90px;
}

.nav-stacked.affix-bottom {
  margin-bottom:200px;
}

.about-page h2:first-of-type {
  margin-top:10px;
}

.large-heading {
  padding-top:1px;
}

ul.top-split {
  margin-bottom:0px;
}

.workflow-steps ul {
  list-style-type:none;
  padding-left:0;
  border:1px solid #E5E5E5;
}

.workflow-steps li {
  border-top: 1px solid #E5E5E5;
  padding:5px;
}

.workflow-steps ul > li:first-child {
  border-top:0
}

h2[id]:before, h3[id]:before, h4[id]:before {
  display: block;
  content: " ";
  margin-top: -121px;
  height: 121px;
  visibility: hidden;
}

h3[id]:before {
  margin-top: -115px;
  height: 115px;
}

h4[id]:before {
  margin-top: -115px;
  height: 115px;
}

footer {
  background-color:#2b3e50;
  min-height: 150px;
  padding: 35px 0;
}

footer ul {
  list-style: none;
  margin-bottom: 20px;
  padding-left:0;
}

footer li {
  display:inline;
  margin-right:5px;
}

footer ul:first-of-type {
  margin-left:25px
}


footer a {
  color:white;
}

footer a:hover {
  color:white;
}


.footer-buttons {
  text-align:center;
}

@media (max-width: 991px) and (min-width: 768px) {
  .navbar-nav>li>a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 1200px) and (min-width: 991px) {
  .nav-stacked.affix {
    width:8.5em;
  }
}

@media (max-width: 765px) {
  .row .affix {
    position: static;
  }

  .nav-stacked.affix {
    margin-top:0px;
  }
}
