@font-face {
  font-family: "SerifaStd-Italic";
  src: url("SerifaStd-Italic.otf") format("opentype");
}

@font-face {
  font-family: "SerifaStd-Light";
  src: url("SerifaStd-Light.otf") format("opentype");
}

@font-face {
  font-family: "SerifaStd-LightItalic";
  src: url("SerifaStd-LightItalic.otf") format("opentype");
}

@font-face {
  font-family: "Opensans_Regular";
  src: url("font/Open_Sans/Opensans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'museo-slab';
  src: url('font/museo_slab_300-webfont.eot');
  src: url('font/museo_slab_300-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/museo_slab_300-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo-slab';
  src: url('font/museo_slab_500-webfont.eot');
  src: url('font/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/museo_slab_500-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
