.jumbotron {
  margin-bottom:0;
  padding-top:100px;
  padding-bottom: 30px;
  text-align:center;
}

.jumbotron h1 {
  background: url("../img/new-mimosa-logo-v3.png")no-repeat;
  height: 115px;
  background-position: 50%;
}

.jumbotron p {
  margin-bottom: 0px;
}

.jumbotron p.lead {
  margin-bottom:70px;
}

.link-notes {
  font-size: 65%;
}

.link-notes:hover {
  color:white;
  text-decoration: none;
}

.links-panel {
  text-align:center;
}

.links-panel .panel-body {
  padding-bottom:15px;
  background-color: #82979f;
}

.links-panel ul {
  list-style: none;
  margin-bottom: 0;
  padding-left:0;
}

.links-panel li {
  display:inline
}
