body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

body {
  background-color:white;
}

.intro-header {
  background-image: none;
  padding-top: 0;
}

.intro-header img {
  margin: 0 auto;
}

.intro-message {
  padding-bottom: 10%;
}

.intro-message > h1 {
  text-shadow: none;
}

.intro-message > h3 {
  color: #2B3E50;
  font-weight: 700;
  text-shadow: none;
}

.features h2 {
  text-align:center;
  margin-bottom:0 0 30px 0;
}

.features {
  text-align:center;
  padding:50px 0 65px 0;
}

.middle {
  background-color:#4e5d6c;
  color:white;
}

.middle h2 {
  color:white;
}

.why {
  padding: 50px 50px 65px 50px;
}