@import "base";
@import "site/landing/intro-header";
@import "site/landing/features";

.start-button {
  text-transform: none;
  font-size: 1.5em;

  .intro-header & {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }
}
