<div class="container-fluid">
  <footer>
    <div class="container">
      <ul>
        <li>
          <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=dbashford&repo=mimosa&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="112px" height="20px"></iframe>
        </li>
        <li>
          <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=dbashford&repo=mimosa&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
        </li>
        <li class="follow-btn">
          <a href="https://twitter.com/mimosajs" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @mimosajs</a>
        </li>
        <li class="tweet-btn">
          <a href="https://twitter.com/share" data-text="Mimosa - A lightning-fast build tool for modern web development" class="twitter-share-button" data-url="http://mimosa.io" data-count="horizontal" data-via="mimosajs">Tweet</a>
        </li>
      </ul>

      <ul>
        <li>
          Current Version v3.0.0
        </li>
        <li>
          -
        </li>
        <li>
          <a href="https://github.com/dbashford/mimosa">GitHub</a>
        </li>
        <li>
          -
        </li>
        <li>
          <a href="https://github.com/dbashford/mimosa/blob/master/RELEASENOTES.md">Release Notes</a>
        </li>
        <li>
          -
        </li>
        <li>
          <a href="https://github.com/dbashford/mimosa/issues">Issues</a>
        </li>
        <li>
          -
        </li>
        <li>
          <a href="https://gitter.im/dbashford/mimosa">Chat</a>
        </li>
        <li>
          -
        </li>
        <li>
          <a href="https://groups.google.com/forum/#!forum/mimosajs">Google Group</a>
        </li>
      </ul>
    </div>
  </header>
</div>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script>
  var _gaq=[['_setAccount','UA-33737130-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
